#pizzaCheese {
  display: none;
}

#pizzaPep {
  display: none;
}

#pizzaMush {
  display: none;
}

#movieGump {
  display: none;
}

#movieGem {
  display: none;
}

#movieNobody {
  display: none;
}

#not {
  display: none;
}

#notSure {
  display: none;
}



